body{
	background: url("../imgs/Background.jpg") center no-repeat;
	background-attachment: scroll;
	background-attachment: fixed;
	background-size: cover;
}

#info{
	/*background-color: #F29745;
	height: 300px;*/
}
#contact{
	/*background-color: #F3BC51;
	height: 250px;*/
}
.Menulogo img{
	height: 39.2px;
	width: 53.82px;
	margin-top: 15px;
}
.Puntos{
	padding-right: 0px;
}
.Puntos img{
	height: 68px;
	width: 160px;
	float: right;
}
.Logo{
	background: url("../icons/Logo.svg") center/90%  no-repeat, url("../icons/ilustracion320.svg") center/cover no-repeat;
	height: 494px;
}
.Logo img{
	visibility: hidden;
	width: 0%;
}
.info img{
	margin-bottom: -45px;
	width: 150px;
    height: 40px;
}
.size img{
	max-width: 40px;
}
.Layout_1{
	padding-top: 32px;
}
.Layout_2{
	padding-bottom: 9px;
}
.col-aux{
	width: 17%;
}
.col-aux2{
	width: 17%;
}
.col-aux3{
	width: 17%;
}
.col-aux6{
	width: 17%;
}
.col-5ths1 {
	position: relative;
  	padding-right: 15px;
	padding-left: 15px;
	width: 22%;
	float: left;
}
.col-5ths2 {
	position: relative;
  	padding-right: 15px;
	padding-left: 15px;  
	width: 22%;
	float: left;
}
.col-5ths3 {
	position: relative;
  	padding-right: 15px;
	padding-left: 15px; 
	width: 22%;
	float: left;
}
.col-5ths4 {
	position: relative;
  	padding-right: 15px;
	padding-left: 15px; 
	margin-top: 25px;  
	width: 22%;
	float: left;
}
.col-5ths5 {
	position: relative;
  	padding-right: 15px;
	padding-left: 15px;
	margin-top: 25px;  
	width: 22%;
	float: left;
}
.col-5ths6 {
	position: relative;
  	padding-right: 15px;
	padding-left: 15px;
	margin-top: 25px;  
	width: 22%;
	float: left;
}
.inputHeight{
	padding-bottom: 20px;
}

.button{
	background: url("../icons/Boton.svg") no-repeat center/155px;
	font-family: 'AlteHaasGrotesk-Bold';
    font-size: 18px !important;
    line-height: 25.2px;
    color: #112033 !important;
    margin-top: 30px;
    width: 155px;
    height: 40px;
}

.email-tel{
	text-align: center;
}
footer{
	background: #DD5957;
	height: 44px;
	text-align: center;
	vertical-align: middle;
	padding-top: 10px;
}
/*--- start 390  ---*/
@media only screen and (min-width: 390px) {
	.Logo{
		background: url("../icons/Logo.svg") center/90%  no-repeat, url("../icons/Ilustracion_390.svg") center/cover no-repeat;
		height: 494px;
	}   
	.info img {
	    margin-bottom: -33px;
	    margin-top: 30px;
	}
	.Layout_1 {
    	padding-top: 36px;
    	padding-bottom: 14px;
	}
	
	.col-aux2{
		width: 0%;
	}
	.col-aux3{
		width: 0%;
	}

	.col-aux{
		width: 17%;
	}
	.col-aux4{
		width: 17%;
	}
	.col-aux5{
		width: 33.5%;
	}
	.col-aux6{
		width: 33.5%;
	}
	.col-5ths1 {
		position: relative;
		padding-right: 15px;
		padding-left: 15px;
		width: 16.5%;
		float: left;
	}
	.col-5ths2 {
		position: relative;
		padding-right: 15px;
		padding-left: 15px;  
		width: 16.5%;
		float: left;
	}
	.col-5ths3 {
		position: relative;
		padding-right: 15px;
		padding-left: 15px; 
		width: 16.5%;
		float: left;
	}
	.col-5ths4 {
		position: relative;
		padding-right: 15px;
		padding-left: 15px;
		margin-top: 0px;  
		width: 16.5%;
		float: left;
	}
	.col-5ths5 {
		position: relative;
		padding-right: 15px;
		padding-left: 15px;
		margin-top: 25px;  
		width: 16.5%;
		float: left;
	}
	.col-5ths6 {
		position: relative;
		padding-right: 15px;
		padding-left: 15px;
		margin-top: 25px;  
		width: 16.5%;
		float: left;
	}
}
/*--- End of 390 ---*/

/*--- start 460  ---*/
@media only screen and (min-width: 460px) {
	.Logo{
		background: url("../icons/LogoCompleto.svg") center/cover no-repeat;
		height: 454.49px;
	}   
	.info img {
	    margin-bottom: -33px;
	    margin-top: 27.3px;
	}
	.col-aux{
		width: 4%;
	}
	.col-aux4{
		width: 0%;
	}
	.col-aux5{
		width: 0%;
	}
	.col-aux6{
		width: 4%;
	}
	.col-5ths1 {
		position: relative;
		padding-right: 10px;
		padding-left: 10px;
		width: 15.3%;
		float: left;
	}
	.col-5ths2 {
		position: relative;
		padding-right: 10px;
		padding-left: 10px;
		width: 15.3%;
		float: left;
	}
	.col-5ths3 {
		position: relative;
		padding-right: 10px;
		padding-left: 10px;
		width: 15.3%;
		float: left;
	}
	.col-5ths4 {
		position: relative;
		padding-right: 10px;
		padding-left: 10px;
		margin-top: 0px;  
		width: 15.3%;
		float: left;
	}
	.col-5ths5 {
		position: relative;
		padding-right: 10px;
		padding-left: 10px;
		margin-top: 0px;  
		width: 15.3%;
		float: left;
	}
	.col-5ths6 {
		position: relative;
		padding-right: 10px;
		padding-left: 10px;
		margin-top: 0px;  
		width: 15.3%;
		float: left;
	}
}
/*--- End of 460 ---*/

/*--- start 565  ---*/
@media only screen and (min-width: 565px){
	.Logo{
		background: url("../icons/LogoCompleto.svg") center/cover no-repeat;
		height: 494px;
	}
	.info img {
	    margin-bottom: -33px;
	    margin-top: 30px;
	}
	.button{
		margin-bottom: 30px;
	}
}
/*--- End of 565 ---*/

/*--- start 576  ---*/
@media only screen and (min-width: 576px){
	.Logo{
		height: 300.29px;
		background-image: none;
	} 
	.Logo img{
		height: 250px;
		visibility: visible;
		width: 100%;
	}  
	.none{
		display: none;
	}
	#tel{
		text-align: right;
	}
	#email{
		text-align: left;
	}
	#tel{
		padding-right: 54px;
	}
	#email{
		padding-left: 54px;
	}
	.services img {
		display: block;
	    text-align: center !important;
		margin-top: 20px;
		margin-left: auto;
		margin-right: auto;
	}
	h2{
		text-align: center;
	}
}
/*--- End of 576 ---*/

/*--- start 670  ---*/
@media only screen and (min-width: 670px){
	h1{
		padding-bottom: 15px;
	}
	p{
		margin-bottom: -5px;
	}
	.Logo{
		height: 378.29px;
	}   
	.Logo img{
		height: 284px;
		visibility: visible;
	} 
	.Layout_1 {
    	width: 101%;
    	padding-bottom: 0px;
	}
}
/*--- End of 670 ---*/


/*--- start 790  ---*/
@media only screen and (min-width: 790px){
	.menu{
		margin-bottom: 20px;	
	}

	.Logo{
		height: 375px;
	}   
	.Logo img{
		height: 316px;
	}   
	
	.Layout_1 {
    	padding-top: 30px;
    	padding-bottom: 13px;
	}
	#tel{
		padding-right: 31px;
	}
	#email{
		padding-left: 31px;
	}
}
/*--- End of 790 ---*/

/*--- start 910  ---*/
@media only screen and (min-width: 910px){
	.Logo{
		height: 424px;
	}
	.Logo img{
		height: 424px;
	}
	.services img{
		width: 155px;
		height: 40px;
	}
	#tel{
		text-align: right;
	}
	#email{
		text-align: left;
	}
	.Menulogo img {
    	width: 70.68px;
    	height: 51.48px;
    	margin-top: 0px;
	}
	.Puntos img {
	    height: 80px;
	    width: 190px;
	}
	footer{
		padding-top: 16px;
		height: 55px;
	}
	#tel{
		padding-right: 15.5px;
	}
	#email{
		padding-left: 15.5px;
	}
}
/*--- End of 910 ---*/
@media only screen and (min-width: 1030px){
	.Puntos img {
	    width: 191px;
	}
	.services img{
		width: 200px;
		height: 45px;
	}
	.Layout_1 {
    	padding-bottom: 29px;
	}
	.Layout_2{
		padding-bottom: 26px;
	}
	.button{

		height: 45px;
		background: url("../icons/Boton.svg") no-repeat center/175px;
		width: 175px;
		margin-top: 32px;
		margin-bottom: 67px;
	}
	#tel{
		padding-right: 28px;
	}
	#email{
		padding-left: 28px;
	}
}
@media only screen and (min-width: 1170px){
	.Menulogo img {
    	width: 83.12px;
    	height: 60.53px;
	}
	.Puntos img {
	    height: 80px;
	    width: 244px;
	}
	.Logo{
		height: 488px;
	}
	.Logo img{
		height: 488px;
	}
	h2{
		padding-top: 48px;
	}
	.services img {
    	margin-bottom: -85px;
	}
	.Layout_1 {
    	padding-bottom: 24px;
	}
	#tel{
		padding-right: 43px;
	}
	#email{
		padding-left: 43px;
	}
}
@media only screen and (min-width: 1285px){
	.Menulogo img {
    	width: 83.12px;
    	height: 59.53px;
	}
	.Puntos img {
	    height: 100px;
	    width: 244px;
	}
	.Logo{
		height: 544px;
	}
	.Logo img{
		height: 544px;
	}
	p{
		padding-right: 0px;
	}
	#tel{
		padding-right: 55px;
	}
	#email{
		padding-left: 55px;
	}
}
@media only screen and (min-width: 1440px){
	.Logo{
		height: 700px;
	}
	.Logo img{
		height: 700px;
	}
	
	#tel{
		padding-right: 71px;
	}
	#email{
		padding-left: 71px;
	}
}
