/*   Fonts   */
@font-face {
    font-family:'Assistant';
    src: url('../fonts/Assistant-Regular.eot'); 
    src: url('../fonts/Assistant-Regular.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/Assistant-Regular.svg#Assistant-Regular') format('svg'), 
         url('../fonts/Assistant-Regular.ttf') format('truetype'),
         url('../fonts/Assistant-Regular.woff') format('woff'),
         url('../fonts/Assistant-Regular.woff2') format('woff2'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'Baloo-ExtraBold';
    src: url('../fonts/Baloo2-ExtraBold.eot'); 
    src: url('../fonts/Baloo2-ExtraBold.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/Baloo2-ExtraBold.svg#Baloo2-Regular') format('svg'), 
         url('../fonts/Baloo2-ExtraBold.ttf') format('truetype'),
         url('../fonts/Baloo2-ExtraBold.woff') format('woff'),
         url('../fonts/Baloo2-ExtraBold.woff2') format('woff2'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'AlteHaasGrotesk-Bold';
    src: url('../fonts/AlteHaasGroteskBold.eot'); 
    src: url('../fonts/AlteHaasGroteskBold.eot?#iefix') format('embedded-opentype'), 
         url('../fonts/AlteHaasGroteskBold.svg#AlteHaasGroteskBold') format('svg'), 
         url('../fonts/AlteHaasGroteskBold.ttf') format('truetype'),
         url('../fonts/AlteHaasGroteskBold.woff') format('woff'),
         url('../AlteHaasGroteskBold.woff2') format('woff2'); 
    font-weight: normal;
    font-style: normal;
}
/* End of Fonts*/

p{
    font-family: 'Assistant';
    font-size: 16px !important;
    line-height: 21px;
    color: #ffffff !important;
}
h2{
    font-family: 'AlteHaasGrotesk-Bold';
    font-size: 18px !important;
    line-height: 25.2px;
    color: #112033 !important;
}
h4{
    font-family: 'Assistant';
    font-size: 16px !important;
    line-height: 20px;
    color: white !important;
}
input{
	font-family: 'Assistant';
    font-size: 16px !important;
    line-height: 20px;
    color: #235BA7 !important;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    width: 279.71px;
    height: 35px;
    padding-left: 15.6px;
}
input::-webkit-input-placeholder { /* Google Chrome y Safari */
    font-family: 'Assistant';
    font-size: 16px !important;
    line-height: 20px;
    color: #235BA7 !important;
}
input:-moz-placeholder { /* Firefox anterior a 19 */
    font-family: 'Assistant';
    font-size: 16px !important;
    line-height: 20px;
    color: #235BA7 !important;
}
input::-moz-placeholder { /* Firefox 19 y superior */
    font-family: 'Assistant';
    font-size: 16px !important;
    line-height: 20px;
    color: #235BA7 !important;
}
input:-ms-input-placeholder { /* Internet Explorer 10 y superior */
    font-family: 'Assistant';
    font-size: 16px !important;
    line-height: 20px;
    color: #235BA7 !important;
}
textarea{
    font-family: 'Assistant';
    font-size: 16px !important;
    line-height: 20px;
    color: #235BA7 !important;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 0;
    width: 279.71px;
    height: 100px;
    padding-left: 15.6px;
    padding-top: 10px;
}
textarea::-webkit-input-placeholder { /* Google Chrome y Safari */
    font-family: 'Assistant';
    font-size: 16px !important;
    line-height: 20px;
    color: #235BA7 !important;
}
textarea:-moz-placeholder { /* Firefox anterior a 19 */
    font-family: 'Assistant';
    font-size: 16px !important;
    line-height: 20px;
    color: #235BA7 !important;
}
textarea::-moz-placeholder { /* Firefox 19 y superior */
    font-family: 'Assistant';
    font-size: 16px !important;
    line-height: 20px;
    color: #235BA7 !important;
}
textarea:-ms-input-placeholder { /* Internet Explorer 10 y superior */
    font-family: 'Assistant';
    font-size: 16px !important;
    line-height: 20px;
    color: #235BA7 !important;
}

h3{
    font-family: 'AlteHaasGrotesk-Bold';
    font-size: 16px !important;
    line-height: 25.2px;
    color: #F29745 !important;
}
h5{
    font-family: 'Baloo-ExtraBold';
    font-size: 21px !important;
    line-height: 14px;
    color: #F29745 !important;
}
h1{
    font-family: 'Baloo-ExtraBold';
    font-size: 38px !important;
    line-height: 37px;
    color: #F29745 !important;
}


.margenMenu{
    padding: 15px 30.5px 15.8px 21 px;
}
.margenLogo{
    padding: 0px 0px;
}
.margenInfo{
    text-align: center;
    padding: 60px 40.9px 13.7px 42.5px;
}
.margenContact{
    text-align: center;
    padding: 20px 5px ;
}

/*--- Floating Items ---*/
.sidebarSocial{
    display: none;
}
/*--- End of Floating Items ---*/
@media only screen and (min-width: 390px){
    .margenInfo{
        text-align: center;
        padding: 60px 31px 21.7px 31px;
    }
    .margenContact{
        text-align: center;
        padding: 30px 26px;
    }
}
@media only screen and (min-width: 460px){
    h1{
        font-size: 40px !important;
    }
    .margenInfo{
        text-align: center;
        padding: 60px 28.5px 34.7px 29.3px;
    }
    .margenContact{
        text-align: center;
        padding: 20px 70px ;
    }
}
@media only screen and (min-width: 565px){
    h5{
        font-size: 22px !important;
    }
    .margenLogo{
        padding: 0px 35px;
    }
    .margenInfo{
        text-align: center;
        padding: 60px 35px 15.7px 35px;
    }
    .margenContact{
        text-align: center;
        padding: 20px 110px ;
    }
}
@media only screen and (min-width: 576px){
    .margenLogo{
        padding: 46px 30px 104px 29px;
    }
    .margenInfo{
        text-align: left;
        padding: 0px 0px 55.7px 76px;
    }
    .margenContact{
        text-align: center;
        padding: 0px 160px ;
    }

    /*--- Floating Items ---*/
    .sidebarSocial{
        display: block;
        width: 55px;
        position: fixed;
        z-index: 100;
        top: 50%;
        left: 0px;
    }
    .sidebarItem{
        height: 60px;
        padding: 10px 0px 10px 15px;
    }
    .sidebarItem img{
        max-height: 40px;
        height: 40px;
        position: absolute;
    }
    .sidebarItem{
        display: flex;
    }
    .sidebarItem img{
        position: static;
    }
    /*--- End of Floating Items ---*/
}
@media only screen and (min-width: 790px){
    h3{
        font-size: 18px !important;
    }
    h5{
        font-size: 28px !important;
    }
    h1{
        font-size: 48px !important;
    }

    .margenMenu{
        padding: 15px 27.1px 43.8px 21px;
    }
    .margenLogo{
        padding: 0px 40.5px 123px 79px;
    }
    .margenInfo{
        padding: 0px 0px 88.7px 58.5px;
    }
    .margenContact{
        text-align: center;
        padding: 0px 170px ;
    }
}
@media only screen and (min-width: 910px){
    .margenMenu{
        padding: 15px 33.2px 14.5px 22px;
    }
    .margenLogo{
        padding: 0px 0px 76px 42px;
    }
    .margenInfo{
        padding: 0px 0px 109.1px 133px;
    }
    .margenContact{
        text-align: center;
        padding: 0px 230px ;
    }

    /*--- Floating Items ---*/
    .sidebarSocial{
        width: 60px;
        top: 50%;
    }
    .sidebarItem{
        padding: 10px 0px 10px 20px;
    }
    /*--- End of Floating Items ---*/
}
@media only screen and (min-width: 1030px){
    h2{
        font-size: 21px !important;
    }
    h3{
        font-size: 21px !important;
    }
    h5{
        font-size: 32px !important;
    }
    h1{
        font-size: 61px !important;
        line-height: 58px;
    }
    .margenMenu{
        padding: 14px 33.7px 29.5px 22px;
    }
    .margenLogo{
        padding: 0px 21px 97px 26px;
    }
    .margenInfo{
        padding: 0px 0px 128.1px 135.5px;
    }
    .margenContact{
        text-align: center;
        padding: 0px 252px ;
    }
}
@media only screen and (min-width: 1170px){
    h5{
        font-size: 38px !important;
        line-height: 20px;
    }
    h1{
        font-size: 71px !important;
        line-height: 68px;
    }
    .margenMenu{
        padding: 9.6px 41px 39.9px 33.9px;
    }
    .margenLogo{
        padding: 0px 31.5px 97px 22px;
    }
    .margenInfo{
        padding: 32px 0px 148.7px 140.5px;
    }
    .margenContact{
        text-align: center;
        padding: 0px 270px ;
    }
    /*--- Floating Items ---*/
    .sidebarSocial{
        width: 67.5px;
        top: 50%;
    }
    .sidebarItem{
        height: 70px;
        padding: 12.5px 0px 12.5px 22.5px;
    }
    .sidebarItem img{
        max-height: 45px;
        height: 45px;
    }
    /*--- End of Floating Items ---*/
}
@media only screen and (min-width: 1285px){
    h1{
        font-size: 86px !important;
        line-height: 78px;
    }
    .margenMenu{
        padding: 20.3px 41px 20.2px 33.9px;
    }
    .margenLogo{
        padding: 13px 33px 107px 40px;
    }
    .margenInfo{
        padding: 72px 0px 192px 119px;
    }
    .margenContact{
        text-align: center;
        padding: 0px 321px ;
    }
}
@media only screen and (min-width: 1440px){
    .margenLogo{
        padding: 0px 0px 100px 39px;
    }
    .margenInfo{
        padding: 138px 0px 262px 151.5px;
    }
    .margenContact{
        text-align: center;
        padding: 0px 410px ;
    }
}
@media only screen and (min-width: 1920px){
    .margenLogo{
        padding: 0px 240px 100px 39px;
    }
    .margenInfo{
        padding: 138px 0px 262px 392px;
    }
    .margenContact{
        text-align: center;
        padding: 0px 647px ;
    }
}


